<div class="form-group <%= @node.errors['name'].present? ? 'has-error' : 'has-success' %>">
  <%= f.label :name, class: 'control-label' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group <%= @node.errors['hostname'].present? ? 'has-error' : 'has-success' %>">
  <%= f.label :hostname, class: 'control-label' %>
  <%= f.text_field :hostname, class: 'form-control' %>
</div>

<div class="form-group <%= @node.errors['user'].present? ? 'has-error' : 'has-success' %>">
  <%= f.label :user, class: 'control-label' %>
  <%= f.text_field :user, class: 'form-control' %>
</div>

<div class="form-group <%= @node.errors['password'].present? ? 'has-error' : 'has-success' %>">
  <%= f.label :password, class: 'control-label' %>
  <%= f.text_field :password, class: 'form-control' %>
</div>

<div class="form-group <%= @node.errors['config'].present? ? 'has-error' : 'has-success' %>">
  <%= f.label :config, class: 'control-label' %>
  <%= f.hidden_field :config, class: 'form-control ace-editor', data: { language: :json } %>
</div>
