<p>
  <strong>Project:</strong>
  <%= @node.project.title %>
</p>

<p>
  <strong>Node:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Credentials:</strong>
</p>

<pre><%= @node.credentials -%></pre>

<p>
  <strong>Config:</strong>
</p>

<pre><%= @node.config -%></pre>

<%= form_for [@node, @node.deployments.build] do |f| -%>
  <%= f.submit 'Deploy', class: 'btn btn-success' -%>
<%- end -%>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', project_nodes_path(@node.project) %>
