<div class="row">
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-offset-2">

    <h2 class="text-center">Sign in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'control-label' %>
        <%= f.text_field :email, required: true, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'control-label' %>
        <%= f.password_field :password, required: true, class: 'form-control' %>
      </div>

      <div class="checkbox">
        <%= f.label :remember_me, class: 'control-label' do %>
          <%= f.check_box :remember_me, :as => :boolean if devise_mapping.rememberable? %>
          Remember me!
        <% end %>
      </div>

      <%= f.submit 'Sign in', class: 'btn btn-success btn-lg btn-block' %>
    <% end %>

    <div class="shared_links">
      <%= render 'users/shared/links' %>
    </div>
  </div>
</div>
