<% return unless @project %>

<% if @nodes %>
  <%= link_to 'New Node', new_project_node_path(@project), class: 'btn btn-primary btn-sm pull-right' %>
<% end %>

<% if @roles %>
  <%= link_to 'New Role', new_project_role_path(@project), class: 'btn btn-primary btn-sm pull-right' %>
<% end %>



<ul class="nav nav-tabs">

  <%= menu_item(project_deployments_path(@project)) do %>
    Deployments
    <% if @project.deployments.processing.count > 0 %>
      <span class="badge"><%= current_user.available_deployments.processing.count %></span>
    <% end %>
  <% end %>

  <%= menu_item('Nodes', project_nodes_path(@project)) %>
  <%= menu_item('Roles', project_roles_path(@project)) %>

</ul>




