<div class="jumbotron">
  <h1>MasterChef IO</h1>

  <p class="lead">
    This is an alpha version of automated deployment services.
  </p>

  <p>
    <%= link_to("Let's Deploy!", new_user_registration_path, class: 'btn btn-lg btn-success', role: 'button') %>
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Services</h4>

    <p>
      To run a simple web application like this we required a bunch of web services:
    <ul>

      <li>
        <%= link_to('GitHub', 'https://github.com') %> - Hosting for Git repositories.
      </li>

      <li>
        <%= link_to('TravisCI', 'https://travis-ci.org') %> - Simple CI for public repositories
      </li>

      <li>
        <%= link_to('NewRelic', 'https://newrelic.com') %> - Web application monitoring tool for your application.
        We use it in every project. You like charts - it is for you.
      </li>

      <li>
        <%= link_to('Pusher', 'http://pusher.com') %> - Realtime web notifications.
      </li>

      <li>
        <%= link_to('Airbrake', 'https://airbrake.io') %> - Exception notification service.
      </li>

      <li>
        <%= link_to('Mandrill', 'https://mandrillapp.com/') %> - SMTP gateway.
      </li>

      <li>
        <%= link_to('Digital Ocean', 'https://www.digitalocean.com') %> - Simple Cloud Hosting.
      </li>
    </ul>
    </p>

    <h4>Technologies</h4>

    <p>
    <ul>
      <li>
        <%= link_to('Ruby on Rails', 'http://rubyonrails.org') %> - Open source web framework
      </li>

    </ul>

    </p>

  </div>

  <div class="col-lg-6">
    <h4>Tools</h4>

    <p>
    <ul>
      <li>
        <%= link_to('Chef', 'http://docs.opscode.com') %> -
        Chef is a systems and cloud infrastructure automation framework that makes it easy to deploy servers and
        applications to any physical, virtual, or cloud location, no matter the size of the infrastructure.
      </li>

      <li>
        <%= link_to('Knife Solo', 'https://github.com/matschaffer/knife-solo') %> -
        Knife is a command-line tool that provides an interface between a local chef-repo and the server.
      </li>

      <li>
        <%= link_to('Capistrano', 'http://capistranorb.com') %> - A remote server automation and deployment tool.
      </li>
    </ul>
    </p>

    <h4>Development Flow</h4>
    <p>
      <ul>
        <li>
          <%= link_to 'GithubFlow', 'http://datasift.github.io/gitflow/GitFlowForGitHub.html' %>
        </li>
      </ul>
    </p>

  </div>
</div>
