<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <div class="form-inline">

    <div class="form-group">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
    </div>
    <%- if !@project.persisted? -%>
      <button type="submit" class="btn btn-success">Create</button>
    <%- end -%>
  </div>

  <%- if @project.persisted? -%>
    <div class="form-group">
      <%= f.label :cookbooks %>
      <%= f.text_area :cookbooks, class: 'form-control' %>
    </div>
    <%= f.submit 'Update project', class: 'btn btn-success' %>
  <%- end -%>

<% end %>
