<h1>Listing projects</h1>

<ul>

  <% @projects.each do |project| %>
    <li>
      <span class="project_title"><%= link_to project.title, project %></span>
      <%= link_to 'Edit', edit_project_path(project) %> 
      <%= link_to 'Destroy', project, method: :delete, data: {confirm: 'Are you sure?'} %>
      <%= link_to 'Nodes', project_nodes_path(project) %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Project', new_project_path %>
