<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <%= link_to 'Deployments', project_deployments_path(@project) %>
</p>

<table class='table'>
  <thead>
  <tr>
    <th>Node</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <%= render @project.nodes %>
    <tr>
      <td colspan="2">
        <%= link_to ' + Add new node', new_project_node_path(@project) %>
      </td>
    </tr>
  </tbody>
</table>
<table class='table'>
  <thead>
  <tr>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <%= render @project.roles %>
    <tr>
      <td colspan="2">
        <%= link_to ' + Add new role', new_project_role_path(@project) %>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <strong>CookBooks:</strong>
  <pre>
    <%= @project.cookbooks %>
  </pre>

</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
