<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
<table class='table'>
  <thead>
  <tr>
    <th>Node</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%= render @project.nodes %>
  </tbody>
</table>
<table class='table'>
  <thead>
  <tr>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%= render @project.roles %>
  </tbody>
</table>
<p>
  <strong>CookBooks:</strong>
  <%= simple_format @project.cookbooks %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'New node', new_project_node_path(@project) %>
