<%= simple_form_for [@project, @role] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="form-group">
    <%= f.label :config %>
    <%= f.hidden_field :config, class: 'form-control ace-editor' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
