<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @role.project_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Config:</strong>
  <%= @role.config %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
