<% if resource.errors.present? %>
  <div class="alert fade in alert-danger alert-dismissable">
    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
    <%= resource.errors.full_messages.join('. ') %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-offset-2">

    <h2 class="text-center">Forgot your password?</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, class: 'form'}) do |f| %>

      <div class="form-group">
        <%= f.label :email, 'Email', class: 'control-label' %>
        <%= f.text_field :email, required: true, autofocus: true, class: 'form-control' %>
      </div>

      <%= f.submit 'Send me reset password instructions', class: 'btn btn-primary' %>
    <% end %>



    <%= render "users/shared/links" %>
  </div>
</div>

<br />
