<tr>
  <td>
    <i class="fa fa-<%=  deployment_status_icon(deployment) %>"></i>
    <%= link_to deployment.id, deployment %>
  </td>
  <td><%= link_to deployment.node, [:edit, deployment.project, deployment.node] %></td>
  <td><%= distance_of_time_in_words(deployment.created_at, deployment.finished) unless deployment.initial? %></td>
  <td title="<%= deployment.finished_at -%>"><%= distance_of_time_in_words(Time.current, deployment.finished) %> ago</td>
</tr>
