<tr>
  <td><%= deployment.node.name %></td>
  <td><%= deployment.created_at %></td>
  <td><%= deployment.finished_at %></td>
  <td><%= deployment.success %></td>
  <td>
    <%= link_to 'Show', deployment %>
  </td>
</tr>
