<p>
  <%= @deployment.node.name -%> (<span id="state"><%= @deployment.state -%></span>)
</p>
<p>
  Started <%= @deployment.created_at -%>
</p>
<p>
  Finished <%= @deployment.finished_at %>
</p>

<pre id="logs" style="overflow-y: scroll; height: 500px">
<%= @deployment.logs -%>
</pre>

<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var pusher = new Pusher('3e9e19963f64bb532442');
  var channel = pusher.subscribe('<%= @deployment.channel_name -%>');
  var logs = document.getElementById('logs');
  var state = document.getElementById('state');
  channel.bind('append_log', function(data) {
    logs.appendChild(document.createTextNode(data.message));
    $(logs).scrollTop(logs.scrollHeight);
  });
  channel.bind('changed_state', function(data) {
    state.innerText = data.message;
  });
</script>

<%= link_to 'Back', project_deployments_path(@deployment.node.project_id) %>
