<%= render 'shared/project_navigation_tabs' %>

<br/>

<div class="row">
  <div class="col-md-12">
    <small>
    <ul class="list-inline">
      <li>
        Node: <%= link_to @deployment.node.name, [:edit, @deployment.project, @deployment.node] -%>
      </li>

      <li>
        State: <span class="label label-primary" data-behavior="<%= @deployment.channel_name -%>_state"><%= @deployment.state -%></span>
      </li>

      <% if @deployment.finished? %>
        <li>
          Status: <span><%= (@deployment.success ? 'Success' : 'Failed') -%></span>
        </li>
      <% end %>

      <li>
        Length: <%= @deployment.duration.to_i -%> seconds
      </li>

      <li>
        Added at: <%= l @deployment.created_at, format: :long %>
      </li>

      <% if @deployment.finished? %>
        <li>
          Finished: <%= l @deployment.finished, format: :long %>
        </li>
      <% end %>
    </ul>
    </small>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <pre id="console" class=""
         style="background-color: rgb(47, 49, 41); color: rgb(143, 144, 138)"
         data-behavior="real_time_logs"
         data-pusher-key="<%= Pusher.key %>"
         data-pusher-channel="<%= @deployment.channel_name -%>"><%= @deployment.current_logs -%></pre>
  </div>
</div>

