<%= render 'shared/project_navigation_tabs' %>

<p>
  Node: <%= @deployment.node.name -%> (<span id="state"><%= @deployment.state -%></span>)
</p>

<p>
  Status: <%= @deployment.state %>
</p>

<p>
  Length: <%= @deployment.duration.to_i -%> seconds
</p>

<p>
  Started: <%= l @deployment.created_at, format: :long %>
</p>

<p>
  Finished: <%= l @deployment.finished, format: :long %>
</p>

<pre id="logs" style="overflow-y: scroll; height: 500px" data-behavior="real_time_logs"
     data-pusher-key="<%= Settings.pusher_key %>"
     data-pusher-channel="<%= @deployment.channel_name -%>">
  <%= @deployment.logs -%>
</pre>
