<%= render 'shared/project_navigation_tabs' %>

<div class="row">
  <div class="col-md-6">
    <ul class="list-inline">
      <li>
        Started: <%= l @deployment.created_at, format: :long %>
      </li>

      <li>
        Finished: <%= l @deployment.finished, format: :long %>
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <ul class="list-inline">
      <li>
        Started: <%= l @deployment.created_at, format: :long %>
      </li>

      <li>
        Finished: <%= l @deployment.finished, format: :long %>
      </li>
    </ul>
  </div>
</div>


<pre id="logs" style="overflow-y: scroll; height: 500px"
     data-behavior="real_time_logs"
     data-pusher-key="<%= Settings.pusher_key %>"
     data-pusher-channel="<%= @deployment.channel_name -%>">
  <%= @deployment.logs -%>
</pre>
