<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= content_for?(:title) ? yield(:title) : Settings.title %></title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag('landing', media: 'all') %>
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="//getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet" type="text/css">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<div class="container">

  <%= render 'shared/landing_header'%>

  <%= bootstrap_flash %>

  <%= yield %>

  <footer class="footer">
    <%= render 'shared/footer' %>
  </footer>
</div>
<!--/container-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<%= javascript_include_tag 'landing' %>

<%= yield :js %>

<!--Analytics-->
<%= render 'shared/ga' if Settings.google_analitycs.tracking_id.present? %>

</body>
</html>
